body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Dancing Script", cursive;
}

header {
    border-bottom: solid 2px rgb(128, 0, 128);
    padding 20px;
    font-size: 32px;
    color: rgb(128, 0, 128);
}

section {
    background: rgb(184, 156, 213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

div {
    margin-right: 20px
}


